<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat ipsam
        laboriosam dolorum quod, optio sed perferendis aspernatur, omnis impedit
        magnam consequuntur consectetur veniam aperiam quisquam sint vero ipsum
        fugit repellendus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat ipsam
        laboriosam dolorum quod, optio sed perferendis aspernatur, omnis impedit
        magnam consequuntur consectetur veniam aperiam quisquam sint vero ipsum
        fugit repellendus?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
